.titleBanner {
  text-align: center;
  background-color: #2f2d2e;
  color: white;
}

div.stickyHead.row {
  padding: 0;
}

.titleText {
  width: 100%;
  font-size: 1.75em;
  color: red;
  font-weight: bold;
}

.modelName {
  color: green;
  font-weight: bold;
}