.loading-button {
  background-color: #86b5e1;
  border-radius: 18px;
  color: white;
  margin-top: 1%;
  font-size: 1em;
}

.img-wrapper > img, .konvajs-content > canvas, .konvaMain  {
  max-height: 45vh !important;
  width: 62vh !important;
}

.konvajs-content {
  width: 62vh !important;
}